<a href="https://colab.research.google.com/github/MLgeek96/Interview-Preparation-Kit/blob/master/Udemy/Python%20%26%20ML%20for%20Financial%20Analysis/2_Python_101_Data_Types_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BOOLEANS

In [1]:
# Boolean values can be represented as one of two constant objects "False" and "True". 
# Booleans behave like integers 0 and 1.
True

True

In [2]:
False

False

In [3]:
stock_1_price = 200
stock_2_price = 200

print(stock_1_price == stock_2_price)

True

# **MINI CHALLENGE #1:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [4]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

# 2. LIST

In [5]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [6]:
# Obtain the datatype
type(my_list)

list

In [7]:
# list with mixed datatypes (for example you can have strings and integers in one list)
my_list = [2, 'GOOG', 5]
my_list

[2, 'GOOG', 5]

In [8]:
# You can have a list inside another list (nested list)
my_list = ['GOOG', [3, 6, 7]]
my_list

['GOOG', [3, 6, 7]]

In [9]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)
my_list = [2, 'GOOG', 5]

my_list[1]

'GOOG'

In [10]:
# indexing for nested lists
my_list = ['GOOG', [3, 6, 7], ['AAPL', 5, 6]]
my_list[2][0]

'AAPL'

In [11]:
my_list[1][1]

6

In [12]:
my_list[2]

['AAPL', 5, 6]

In [13]:
# Negative Indexing
my_list = [2, 'GOOG', 5]
my_list[-1]

5

In [14]:
# List Slicing (getting more than one element from a list) 
my_list = [2, 5, 7, 'GOOG', 'SP500', 'AMZN', 15]

# obtain elements starting from index 3 up to and not including element with index 6  
my_list[3:6]

['GOOG', 'SP500', 'AMZN']

In [15]:
# Obtain elements starting from index 3 to end
my_list[3:]

['GOOG', 'SP500', 'AMZN', 15]

In [16]:
# All elements start to end
my_list[:]

[2, 5, 7, 'GOOG', 'SP500', 'AMZN', 15]

In [17]:
# Obtain the length of the list (how many elements in the list) 
len(my_list)

7

**MINI CHALLENGE #2:**
- **Print the first, second and last element in the list below**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [18]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

In [19]:
print(stocks[:])
print(stocks[:3])
print(stocks[-3:])

['GOOG', 'TSLA', 'AAPL', 'T', 'SP500', 'BTC', 'EUR/USD']
['GOOG', 'TSLA', 'AAPL']
['SP500', 'BTC', 'EUR/USD']

**MINI CHALLENGE #3:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [20]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]

In [21]:
my_list[1][1]

'GOOG'

In [22]:
my_list[1]

['AAPL', 'GOOG', 'TSLA']

In [23]:
my_list[3]
my_list[-1]

'T'

# 3. DICTIONARY

In [24]:
# my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
# Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys

# Define a dictionary using key-value pairs
my_dict = { 'key1': 'value1', 
            'key2': 'value2',
            'key3': 'value3'
}

In [25]:
# View the dictionary
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [26]:
# Check the data type
type(my_dict)

dict

In [27]:
# Access specific element in the dictionary using a specific key (ex: Key2)
my_dict['key2']

'value2'

In [28]:
# Define a dictionary for a bank client listing all his/her assets! 
client_assets = {'Real estate': 150000, 
                'stocks': 10000, 
                'savings': 20000}
print(client_assets)

{'Real estate': 150000, 'stocks': 10000, 'savings': 20000}

In [29]:
# Access elements in the dictionary
client_assets['stocks']

10000

In [30]:
# Add a new item to an existing dictionary
client_assets['Crypto'] = 1500

In [31]:
print(client_assets)

{'Real estate': 150000, 'stocks': 10000, 'savings': 20000, 'Crypto': 1500}

In [32]:
# remove an item from the dictionary
del client_assets['savings']
print(client_assets)

{'Real estate': 150000, 'stocks': 10000, 'Crypto': 1500}

In [33]:
# delete the entire dictionary
# Note that you cannot print it out again because the entire dictionary has been deleted
del client_assets
print(client_assets)

NameError: ignored

**MINI CHALLENGE #4:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [34]:
stocks = {'SP500': 3000, 'AAPL': 400, 'TSLA': 2200}
print(stocks)

{'SP500': 3000, 'AAPL': 400, 'TSLA': 2200}

# 4. STRINGS

In [35]:
# A string in Python is a sequence of characters
# String can be enclosed by either double or single quotes
my_string = 'Hello Everyone and Welcome to Python for finance course!'
my_string

'Hello Everyone and Welcome to Python for finance course!'

In [36]:
# Obtain the datatype
type(my_string)

str

In [38]:
# Combining two strings together (Let's combine the first and last name of a bank's client)
first_name = 'Laila'
last_name = 'Aly'
full_name = first_name + last_name
full_name

'LailaAly'

In [39]:
# You can combine both strings together and add spaces in between
full_name = first_name + ' ' + last_name
full_name

'Laila Aly'

In [40]:
# Methods on strings 
# upper will be used to convert the string into upper case
my_string.upper()

'HELLO EVERYONE AND WELCOME TO PYTHON FOR FINANCE COURSE!'

In [41]:
# Split us used to divide up the string into words 
# The output from split is a list
x = my_string.split()
x

['Hello',
 'Everyone',
 'and',
 'Welcome',
 'to',
 'Python',
 'for',
 'finance',
 'course!']

In [42]:
# Let's check that the datatype is list!
type(x)

list

In [43]:
# you can index any element in the list using indexing
x[1]

'Everyone'

In [44]:
# you can specify which letter could be choosed to perform the split
my_string = 'laila.aly@gmail.com'
z = my_string.split('@')
z

['laila.aly', 'gmail.com']

**MINI CHALLENGE #5:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [45]:
my_string = str(input('What did we do at the bank today? Are you satisfied with the service?'))
words = my_string.split(" ")
print(words)

What did we do at the bank today? Are you satisfied with the service?Savings account creation. Yes, definitely.
['Savings', 'account', 'creation.', 'Yes,', 'definitely.']

**MINI CHALLENGE #6:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [46]:
input_str = input("Welcome to the bank, please enter your e-mail address: ")
out_str = input_str.split("@")
out_str = out_str[0].split(".")
print(out_str[0])

Welcome to the bank, please enter your e-mail address: jacson.jessie0422@gmail.com
jacson

# 5. TUPLES

In [47]:
# A tuple is a sequence of immutable Python objects. 
# Tuples are sequences, just like lists. 
# The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [48]:
tuple_1 = ('GOOG', 'AAPL', 10, 15, 1992)
tuple_2 = (450, 55, 977, 2100)
type(tuple_1)

tuple

In [49]:
tuple_1

('GOOG', 'AAPL', 10, 15, 1992)

In [50]:
# Accessing elements in a tuple
tuple_1[1]

'AAPL'

In [51]:
# Tuple slicing
tuple_1[1:3]

('AAPL', 10)

In [52]:
# Changing a vlue of a tuple does not work! 
# 'tuple' object does not support item assignment
tuple_1[1] = 0

TypeError: ignored

In [53]:
# Create a New Tuple from existing Tuples
tuple_3 = tuple_1 + tuple_2
tuple_3

('GOOG', 'AAPL', 10, 15, 1992, 450, 55, 977, 2100)

**MINI CHALLENGE #7:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [54]:
my_tuple = ('Jacson', 'Chong', 24, 5)

In [55]:
len(my_tuple)

4

In [56]:
type(my_tuple)

tuple

# 6. SETS

In [57]:
# A set is an unordered collection of items. Every element is unique (no duplicates).
# A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().
# set of integers

my_set = {'GOOG', 'AAPL', 'T'}
print(my_set)

{'GOOG', 'T', 'AAPL'}

In [58]:
# set do not have duplicates
my_set = {'GOOG', 'AAPL', 'T', 'TSLA', 'AAPL', 'T'}
my_set

{'AAPL', 'GOOG', 'T', 'TSLA'}

**MINI CHALLENGE #8:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [59]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
my_set = list(set(my_list))
my_set

['GOOG', 'TSLA', 5, 6, 'T', 'APPL', 'AAPL']

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [ ]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

**MINI CHALLENGE #2 SOLUTION:**
- **Print the first, second and last element in the list**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [ ]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[0])
print(stocks[1])
print(stocks[-1])

In [ ]:
print(stocks[:])
print(stocks[0:3])
print(stocks[4:])

**MINI CHALLENGE #3 SOLUTION:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [ ]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]

In [ ]:
print(my_list[1][1])

In [ ]:
print(my_list[1])

In [ ]:
print(my_list[3])

In [ ]:
print(my_list[-1])

**MINI CHALLENGE #4 SOLUTION:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [ ]:
stocks = {"SP500": 3000, 
          "AAPL": 400,
          "TSLA": 2200}
print(stocks)

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [ ]:
my_string = str(input("What did we do at the bank today? are you satisfied with the service"))
words = my_string.split(" ")
print("Here are the list of words you entered:", words)

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [ ]:
input_str = input("Welcome to the bank, please enter your e-mail address:")
out_str = input_str.split('@')
out_str = out_str[0].split('.')
print(out_str[0])

**MINI CHALLENGE #7 SOLUTION:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [ ]:
my_tuple = ("Ryan", "ahmed", 25, 10)
print(my_tuple)

In [ ]:
len(my_tuple)

In [ ]:
type(my_tuple)

**MINI CHALLENGE #8 SOLUTION:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [ ]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6, 5]
out_list = list(set(my_list))
print(out_list)