<a href="https://colab.research.google.com/github/MLgeek96/Interview-Preparation-Kit/blob/master/Udemy/Python%20%26%20ML%20for%20Financial%20Analysis/4_Python_101_For_While_Loops%2C_Range%2C_List_Comprehension_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. FOR LOOPS

In [1]:
# For loops are used for iterating over a sequence (a list, a tuple, a dictionary, a set, or a string).
# An action can be executed once for each item in a list, tuple of the for loop.
my_list = [1, 2, 3 ]
my_list

[1, 2, 3]

In [2]:
for i in my_list:
  print(i)

1
2
3

In [3]:
# you can do more than one task for every loop such as printing out 'Hello world' 
for i in my_list:
  print(i)
  print("Hello World")

1
Hello World
2
Hello World
3
Hello World

In [4]:
# List of strings
my_list = ['AAPL', 'GOOG', 'T', 'TSLA', 'SP500']
my_list

['AAPL', 'GOOG', 'T', 'TSLA', 'SP500']

In [5]:
for i in my_list:
  print(i)

AAPL
GOOG
T
TSLA
SP500

In [6]:
# you can loop over a string as follows
for i in 'TSLA':
  print(i)

T
S
L
A

**MINI CHALLENGE #1:**
- **Write a code that takes in a string and prints it out on the screen except for any letter 'T'. You can replace the letter 'T' with '*'.**

In [7]:
for i in 'TSLA':
  if i == 'T':
    print("*")
  else:
    print(i)

*
S
L
A

# 2. RANGE

In [8]:
# Range() generates a list of numbers, which is used to iterate over with for loops.
# range() is 0-index based, meaning list indexes start at 0, not 1. 
# The last integer generated by range() is up to, but not including, last element. 
# Example: range(0, 10) generates integers from 0 up to, but not including, 10.

In [9]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [10]:
# Range of numbers from 1 to 20 with steps of 2
for i in range(1, 20, 2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [11]:
for i in reversed(range(5)):
  print(i)

4
3
2
1
0

**MINI CHALLENGE #2:**
- **Write a code that takes in the maximum and minimum limits from the user and prints out even numbers only between the provided range**

In [12]:
min = int(input("Enter the price (lower bound)"))
max = int(input("Enter the price (upper bound)"))
for i in range(min, max):
  if i % 2 == 0:
    print(i)

Enter the price (lower bound)20
Enter the price (upper bound)43
20
22
24
26
28
30
32
34
36
38
40
42

**MINI CHALLENGE #3:**
- **Write a code that generates the following table:**
```
1   1    1
2   4    8
3   9   27
4  16   64
5  25  125
6  36  216
7  49  343
8  64  512
9  81  729
10 100 1000
```

In [13]:
for i in range(1, 11):
  print("{} {} {}".format(i, i**2, i**3))

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000

# 3. WHILE LOOPS

In [14]:
# While loop can be used to execute a set of statements as long as a certain condition holds true.
i = 0

while i <= 15:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

**MINI CHALLENGE #4:**
- **Write a code that displays numbers from 1 to 30 using for and while loops**

In [15]:
i = 1
while i < 31:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [16]:
for i in range(1, 31):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

**MINI CHALLENGE #5:**
- **Create a rolling dice game that assume we have two dice (#1 and #2). The dice is being thrown and a random number is generated everytime. The game should be designed such that it prompts the user to ask if he/she would like to keep playing or exit the game.**

In [17]:
import random 

keep_rolling = 'y'

while keep_rolling == 'y':
  print('Rolling the dice, please wait !!')
  print('Rolling results for dice #1', random.randint(1, 6))
  print('Rolling results for dice #2', random.randint(1, 6))
  keep_rolling = input("Do you want to roll again?")

Rolling the dice, please wait !!
Rolling results for dice #1 6
Rolling results for dice #2 4
Do you want to roll again?y
Rolling the dice, please wait !!
Rolling results for dice #1 2
Rolling results for dice #2 1
Do you want to roll again?n

# 4. BREAK A LOOP

In [18]:
# break() is used to exit a for loop or a while loop
# continue() is used to skip the current block, and return to the "for" or "while" statement.

In [19]:
my_list = ['GOOG', 'AAPL', 'T', 'TSLA', 'SP500']

In [20]:
my_list

['GOOG', 'AAPL', 'T', 'TSLA', 'SP500']

In [21]:
# print out all elements in the list
for i in my_list:
  print(i)

GOOG
AAPL
T
TSLA
SP500

In [22]:
# print out all elements in the list up until the AT&T stock (Ticker Symbol = T) is detected
for i in my_list:
  print(i)
  if i == 'T':
    break

GOOG
AAPL
T

In [23]:
# Print only odd elements and skip even numbers
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in my_list:
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

**MINI CHALLENGE #6:**
- **Write a code that continiously gets data from the user and calculates the average and print out on the screen. The code exits when the user enters 'e'.**

In [24]:
print('Keep entering numbers and I will display the average for you')

sum = 0
n = 0

while True:
  x = input("Enter a number: ")
  if x == 'e':
    break
  
  x = int(x)
  n += 1
  sum += x
  print("Average is {}".format(sum/n))

Keep entering numbers and I will display the average for you
Enter a number: 20
Average is 20.0
Enter a number: 40
Average is 30.0
Enter a number: 60
Average is 40.0
Enter a number: 100
Average is 55.0
Enter a number: e

# 5. NESTED LOOPS

In [25]:
# Nested loops are loops that exist inside the body of another loop
for x in range(1, 4): # slow loop
  for y in range(1, 11): # fast loop
    print('{} * {} = {}'.format(x, y, x*y))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [26]:
color_list = ['black', 'white', 'gold']
phone_list = ['iphone', 'samsung', 'blackberry']

for i in color_list:
  for j in phone_list:
    print(i, j)

black iphone
black samsung
black blackberry
white iphone
white samsung
white blackberry
gold iphone
gold samsung
gold blackberry

**MINI CHALLENGE #7:**
- **Write a code that takes in a number (range between 1 and 9) from the user and print out the multiplication table up until that number.**

In [27]:
number = int(input("Enter a number between 1 and 9:"))

for x in range(1, number+1):
  for y in range(1, 11):
    print('{} * {} = {}'.format(x, y, x * y))

Enter a number between 1 and 9:6
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

# 6. LIST COMPREHENSION

In [28]:
# List comprehension is an elegant tool to transform one list into another list. 
# Instead of using loops and append, list comprehension is used to iterate over a list, condition its elements and include them in a new list.
# Let's take a look at the traditional way of taking a list and squaring its elements
input_list = [1, 2, 3, 4]
output_list = []

for element in input_list:
  output_list.append(element**2)

print(output_list)

[1, 4, 9, 16]

In [29]:
# List comprehension is a super powerful one line of code!
[element**2 for element in input_list]

[1, 4, 9, 16]

In [30]:
# Let's square even numbers only 
# We need to insert a condition 
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
output_list = []

for i in input_list:
  if i % 2 == 0:
    output_list.append(i**2)

print(output_list)

[4, 16, 36, 64, 100]

In [31]:
# All this could be done with one line of code as well using List Comprehension
output_list = [element **2 for element in input_list if element % 2 == 0]
print(output_list)

[4, 16, 36, 64, 100]

**MINI CHALLENGE #8:**
- **Write a code that takes in a list of prices of a stock for the past 7 days and then normalize the prices**

In [33]:
print("Enter a list of past 7-days prices separated by space")

prices = [ int(x) for x in input().split()]

Enter a list of past 7-days prices separated by space
110 120 130 145 137 128 119

In [34]:
prices

[110, 120, 130, 145, 137, 128, 119]

In [35]:
normalized_prices = [i/prices[0] for i in prices]
print('Original prices = {} \n Normalized prices = {}'.format(prices, normalized_prices))

Original prices = [110, 120, 130, 145, 137, 128, 119]
 Normalized prices = [1.0, 1.0909090909090908, 1.1818181818181819, 1.3181818181818181, 1.2454545454545454, 1.1636363636363636, 1.0818181818181818]

# MINI CHALLENGE SOLUTION

**MINI CHALLENGE #1:**
- **Write a code that takes in a string and prints it out on the screen except for any letter 'T'. You can replace the letter 'T' with '*'.**

In [36]:
for letter in 'TSLA':
  if letter == 'T':
    print('*')
  else:
   print(letter)

*
S
L
A

**MINI CHALLENGE #2 SOLUTION:**
- **Write a code that takes in the maximum and minimum limits from the user and prints out even numbers only between the provided range**

In [38]:
min = int(input("Enter the price (lower bound): "))
max = int(input("Enter the price (Upper bound): "))

for i in range(min, max):
    if i%2 == 0: 
        print(i)

Enter the price (lower bound): 20
Enter the price (Upper bound): 41
20
22
24
26
28
30
32
34
36
38
40

**MINI CHALLENGE #3 SOLUTION:**
- **Write a code that generates the following table:**
```
1   1    1
2   4    8
3   9   27
4  16   64
5  25  125
6  36  216
7  49  343
8  64  512
9  81  729
10 100 1000
```

In [39]:
for x in range(1, 11):
    print('{} {} {}'.format(x, x*x, x*x*x))

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000

**MINI CHALLENGE #4 SOLUTION:**
- **Write a code that displays numbers from 1 to 30 (including 30) using for and while loops**

In [40]:
i = 1
while (i < 31):
  print (i)
  i = i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [41]:
for i in range(1, 31):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

**MINI CHALLENGE #5 SOLUTION:**
- **Create a rolling dice game that assume we have two dice (#1 and #2). The dice is being thrown and a random number is generated everytime. The game should be designed such that it prompts the user to ask if he/she would like to keep playing or exit the game.**

In [44]:
import random

keep_rolling = "y"

while keep_rolling == "y":
    print("Rolling the dices, please wait!...")
    print("Rolling results for Dice #1:", random.randint(1, 6))
    print("Rolling results for Dice #2:", random.randint(1, 6))

    keep_rolling = input("Do you want to roll again?")

Rolling the dices, please wait!...
Rolling results for Dice #1: 2
Rolling results for Dice #2: 5
Do you want to roll again?y
Rolling the dices, please wait!...
Rolling results for Dice #1: 3
Rolling results for Dice #2: 2
Do you want to roll again?n

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that continiously gets data from the user and calculates the average and print out on the screen. The code exits when the user enters 'e'.**

In [45]:
print("Keep entering numbers and I will display the average to you!")
avg = 0
n = 0
while True:
    x = input("Enter a number: ")
    
    # Check if the user wants to exit (i.e.: break the loop)
    if x == 'e':
      break
    
    x = int(x)
    n = n + 1
    
    avg =   ((avg * (n - 1) ) + x) / n
    print ("The current average is ", avg)

Keep entering numbers and I will display the average to you!
Enter a number: 30
The current average is  30.0
Enter a number: 70
The current average is  50.0
Enter a number: 140
The current average is  80.0
Enter a number: e

**MINI CHALLENGE #7 SOLUTION:**
- **Write a code that takes in a number (range between 1 and 9) from the user and print out the multiplication table up until that number.**

In [46]:
number = int(input("Enter a number between 1 and 9: "))

for x in range(1, number+1): # slow loop 
  for y in range(1, 11):   # fast loop
   print('{} x {} = {}'.format(x, y, x*y))

Enter a number between 1 and 9: 8
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

**MINI CHALLENGE #8 SOLUTION:**
- **Write a code that takes in a list of prices of a stock for the past 7 days and then normalize the prices**

In [47]:
print('Enter a list of past 7-days prices separated by a space:')
prices = [int(x) for x in input().split()]

Enter a list of past 7-days prices separated by a space:
90 95 93 97 99 102 98

In [48]:
normalized_prices = [ (i/prices[0]) for i in prices]
print('Orginal Prices: {}\nNormalized Prices: {}\n'.format(prices, normalized_prices))

Orginal Prices: [90, 95, 93, 97, 99, 102, 98]
Normalized Prices: [1.0, 1.0555555555555556, 1.0333333333333334, 1.0777777777777777, 1.1, 1.1333333333333333, 1.0888888888888888]