<a href="https://colab.research.google.com/github/MLgeek96/Interview-Preparation-Kit/blob/master/Udemy/Python%20%26%20ML%20for%20Financial%20Analysis/5_Python_101_Functions_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BUILT-IN FUNCTIONS

In [1]:
# There are many built-in functions that you can leverage directly 
# Let's define 2 lists x and y
x = [4, 5, 1, 2, 8, 5]
y = list(range(1, 7))

In [2]:
x

[4, 5, 1, 2, 8, 5]

In [3]:
y

[1, 2, 3, 4, 5, 6]

In [4]:
# Let's obtain the length of y
len(y)

6

In [5]:
# Let's obtain the minimum value 
min(x)

1

In [6]:
# Let's obtain the maximum value
max(x)

8

In [7]:
# Let's create a tuple out of the list
z = tuple(x)

In [8]:
z

(4, 5, 1, 2, 8, 5)

In [9]:
type(z)

tuple

In [10]:
# Let's obtain the sum of elements in x
sum(x)

25

**MINI CHALLENGE #1:**
- **Write a code that takes in 2 lists x = [-1 -4 -7] and y = [-3 7 4] and  calculates the absolute sum of all its elements |x+y|**

In [11]:
x = [-1, -4, -7]
y = [-3, 7, 4]

z = abs(sum(x+y))
z

4

# 2. FUNCTIONS

In [12]:
# Let's define a function named "my_function" that does not receive any arguments
# The function simply prints out content and does not return anything
def my_function():
  print("Welcome to Python for Finance course!")

In [13]:
# Function call
my_function()

Welcome to Python for Finance course!

In [14]:
# Define a function that takes in argument x and return the squared value 
def squared(x):
  return x ** 2

In [15]:
# Call the function
output = squared(4)
output

16

In [16]:
# Define a function with default value 
def my_function(amount = 20000):
  print("My total portfolio worth is = {}".format(amount))

In [17]:
# If you pass an argument to the function, it overwrites the default value 
my_function(600000)

My total portfolio worth is = 600000

In [18]:
# If you don't pass an argument, the default value "20000" will be used instead
my_function()

My total portfolio worth is = 20000

**MINI CHALLENGE #2:** 
- **Write a code that takes in two inputs (number of shares and prices) from the user and calculate the total account balance**

In [19]:
def total(units, price):
  amount = units * price
  return amount

In [20]:
num_shares = int(input("Enter the number of shares:"))
price = int(input("Enter the price per share:"))

account_balance = total(num_shares, price)
print("Total account balance = {}".format(account_balance))

Enter the number of shares:20
Enter the price per share:400
Total account balance = 8000

# 3. LAMBDA EXPRESSIONS

In [21]:
# Lambda function is used to create a function without a name 
# Lambda functions are mainly used with filter() and map() [they will be discussed later on]. 
# Lambda function can receive any number of arguments, but can only have one expression.

In [22]:
# let's see how to create a basic function that squares the input
def my_function(x):
  return x ** 2

In [23]:
# Function call
my_function(3)

9

In [24]:
# We can do the same task using Lambda expression
# Note that there is no function name
y = lambda x: x ** 2

In [25]:
y(3)

9

In [26]:
# Note that lambda expression can take in more than one argument 
# there is only one expression that could be performed
def summation(x, y, z):
  return x + y + z

In [27]:
result = summation(1, 2, 3)
result

6

In [28]:
result = lambda x, y, z: x + y + z

In [29]:
result(1, 2, 3)

6

**MINI CHALLENGE #3:**
- **Repeat mini challenge #2 (Write a code that takes in two inputs from the user and calculates the total) using lambda expressions instead**

In [30]:
num_shares = int(input("Enter the number of shares:"))
price = int(input("Enter the price per share: "))

account_balance = lambda a, b: a * b
print("Total = {}".format(account_balance(num_shares, price)))

Enter the number of shares:30
Enter the price per share: 70
Total = 2100

# 4. MAP

In [31]:
# The map() function takes in a function and a list.
# map() performs an operation on the entire list and return the results in a new list.
# Define two lists a and b
a = [1, 4, 5, 6, 9]
b = [1, 7, 9, 12, 7]

In [32]:
# Let's define a function that adds two elements together
def summation(a, b):
  return a + b

In [33]:
# You can now use map() to apply a function to the entire list and generate a new list
c = list(map(summation, a, b))
c

[2, 11, 14, 18, 16]

In [34]:
# map could be used with Lambda as follows
# lambda function is an anonymous function that take any number of arguments and can only have one expression
input_list = [1, 2, 3, 4]
out_list = list(map(lambda x: x**2, input_list))
out_list

[1, 4, 9, 16]

**MINI CHALLENGE #4:**
- **Write a function that takes an argument and return its cubic value**
- **Define a list of integers ranging from -10 to 10** 
- **Apply the function to the entire list and generate a new output list**

In [35]:
def cubic(x):
  return x ** 3

input_list = list(range(-10, 10))

numbers_cubed = list(map(cubic, input_list))
numbers_cubed

[-1000,
 -729,
 -512,
 -343,
 -216,
 -125,
 -64,
 -27,
 -8,
 -1,
 0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729]

# 5. FILTER

In [36]:
# filter is used to create a list of elements for which a function returns "True".
prices = [105, 5055, 40, 356, 923, 1443, 222, 63]
prices

[105, 5055, 40, 356, 923, 1443, 222, 63]

In [37]:
# return only even numbers
out = list(filter(lambda x: (x % 2 == 0), prices))
out

[40, 356, 222]

In [38]:
# Return prices that are greater than or equal 100
out = list(filter(lambda x: (x >= 100), prices))
out

[105, 5055, 356, 923, 1443, 222]

In [39]:
# Return age between 200 and 250
out = list(filter(lambda x: (x >= 200 and x <= 250), prices))
out

[222]

**MINI CHALLENGE #5:**
- **Write a code from the user that takes in a range (upper and lower bounds) and returns a list of positive and even numbers only**

In [40]:
min = int(input("Enter a number (lower bound) *must be negative*: "))
max = int(input("Enter a number (upper bound): "))

numbers = range(min, max)

even_greater_than_zero = list(filter(lambda x: (x >= 0 and x % 2 == 0), numbers))
print(even_greater_than_zero)

Enter a number (lower bound) *must be negative*: -18
Enter a number (upper bound): 9
[0, 2, 4, 6, 8]

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:**
- **Write a code that takes in 2 lists x = [-1 -4 -7] and y = [-3 7 4] and  calculates the absolute sum of all its elements |x+y|**

In [41]:
x = [-1, -4, -7]
y = [-3, 7, 4]
z = abs(sum(x+y))
z

4

**MINI CHALLENGE #2: SOLUTION** 
- **Write a code that takes in two inputs (number of units and prices) from the user and calculate the total account balance**

In [42]:
def total(units, price):
    amount = units * price
    return(amount)

In [43]:
num_shares = int(input("Enter the number of shares: "))
price = int(input("Enter the price per share: "))
account_balance = total(num_shares, price)

print('Total account balance = {}'.format(account_balance))

Enter the number of shares: 40
Enter the price per share: 20
Total account balance = 800

**MINI CHALLENGE #3 SOLUTION**
- **Repeat mini challenge #2 (Write a code that takes in two inputs from the user and calculates the total) using lambda expressions instead**

In [44]:
num_shares = int(input("Enter the number of shares: "))
price = int(input("Enter the price per share: "))

account_balance = lambda num_shares, price : num_shares * price
print('Total = {}'.format(account_balance(num_shares, price)))

Enter the number of shares: 40
Enter the price per share: 30
Total = 1200

**MINI CHALLENGE #4 SOLUTION:**
- **Write a function that takes an argument and return its cubic value**
- **Define a list of integers ranging from -10 to 10** 
- **Apply the function to the entire list and generate a new output list**

In [45]:
def cubic(x):
    return (x*x*x)

numbers = range(-10, 11)
numbers_cubed = list(map(lambda x: cubic(x), numbers))
print(list(numbers))
print(numbers_cubed)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-1000, -729, -512, -343, -216, -125, -64, -27, -8, -1, 0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code from the user that takes in a range (upper and lower bounds) and returns a list of positive and even numbers only**

In [46]:
min = int(input("Enter a number (lower bound) *must be negative* : "))
max = int(input("Enter a number (Upper bound:) "))

numbers = range(min, max)
even_greater_than_zero = list(filter(lambda x: (x > 0 and x%2 == 0), numbers))
print(even_greater_than_zero)

Enter a number (lower bound) *must be negative* : -25
Enter a number (Upper bound:) 19
[2, 4, 6, 8, 10, 12, 14, 16, 18]